$color-title: #ff0000;
$color-subtitle: #b22222;
$color-name: #a52a2a;
$background: #6495ed;
$fontbase: 20px;
$font-family: "Times New Roman", Times, serif;
$font-title: 35px;
$font-intro: 25px;
$font-subtitle: 30px;
$font-name: 28px;
