$color-title: #ff0000;
$color-subtitle: #b22222;
$color-name: #a52a2a;
$background: #6495ed;
$fontbase: 20px;
$font-family: "Times New Roman", Times, serif;
$font-title: 35px;
$font-intro: 25px;
$font-subtitle: 30px;
$font-name: 28px;
@mixin flexbox($justify: center) {
  display: flex;
  justify-content: $justify;
}
body {
  background-color: $background;
  .titles {
    color: $color-title;
    font-size: $font-title;
  }
  .subtitle {
    color: $color-subtitle;
    font-size: $font-subtitle;
  }
  .intros {
    font-size: $font-intro;
    font-family: $font-family;
  }
  span {
    display: block;
  }
  main {
    span {
      display: block;
    }
    .names {
      color: $color-name;
      font-size: $font-name;
    }
    .descrip {
      font-size: $fontbase;
      font-family: $font-family;
      @include flexbox();
    }
    .images {
      width: 270px;
      @include flexbox(flex-end);
    }
    .videos {
      width: 500px;
      height: 315px;
    }
    .orderdiv {
      @include flexbox(start);
    }
    .centerVideo {
      @include flexbox();
    }
    dl {
      padding-bottom: 50px;
    }
  }
}
